/* start: color palette */
:root {
  --main-white: #FFFFFF;
  --main-black: #111111;
  --main-cream: #F2F1F0;
  --main-beige: #DCD8CF;
  --main-dkgreen: #3C4323;
  --main-green: #494F2B;
}
/* end: color palette */

/* start: base */
* {
  margin: 0;
  padding: 0;
}
/* end: base */

/* start: global properties */
body {
  text-align: center;
  font-size: 24px;
}

h1,
h2,
h3 {
  font-family: 'Roboto Slab', serif;;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

p {
  font-size: 1em;
  font-family: 'Inter', sans-serif;;
}
/* end: global properties */

/* start: navbar */
nav {
  background-color: var(--main-green);
  position: fixed;
  width: 100%;
  top:0
}

nav ul {
  list-style: none;
  margin: auto;
  width: 750px;
  overflow: auto;

}

nav li {
  width: 250px;
  height: 1.5em;
  line-height: 1.5em;
  float: left;
}

nav a {
  font-family: 'Roboto Slab', sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: var(--main-cream);
  display: block;
  transition: .2s background-color;
}

nav a:hover {
  background-color: var(--main-dkgreen);
}
/* end: navbar */

/* start: welcome */
.welcome-section {
  background: linear-gradient(135deg, var(--main-white), var(--main-beige));
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.welcome-section > p {
  color: var(--main-green);
  font-family: 'Roboto Slab', sans-serif;
}
/* end: welcome */


/* start: projects */
.projects-section {
  background-color: var(--main-dkgreen);
  padding: 15vh 3vw 15vh 3vw;
}

.projects-header {
  color: var(--main-white);
  margin: 0 auto 5vh auto;
}

.project-header{
  margin: 0 auto 2.5vh auto;
}

.project-tile {
  background-color: var(--main-white);
  color: var(--main-black);
  max-width: 750px;
  margin: auto;
  padding: 5vh;
}

.project-tile > ul {
  white-space: normal;
  list-style: none;
  text-align: left;
  font-family: 'Inter', sans-serif;
}

.project-link {
  text-decoration: none;
  color: var(--main-dkgreen);
}
/* end: projects */

/* start: contact section */
.contact-section {
  background-color: var(--main-beige);
  padding: 15vh 0px;
}
.contact-header {
  color: var(--main-black);
  margin: 0 auto 2.5vh auto;
}
.contact-section ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  font-family: 'Roboto Slab', sans-serif;
}
.contact-section li {
  color: var(--main-black);
  font-size: 1.5em;
}

.contact-section a {
  color: var(--main-black);
  text-decoration: none;
  display: block;
  width: 100%;
  transition: .2s background-color;
}
.contact-section a:hover {
  background-color: var(--main-white);
}
/* end: contact section */

/* start: media queries */
@media screen and (max-width: 750px) {
  body {
    font-size: 16px
  }
  nav ul {
    width: 100%;
  }
  nav li {
    line-height: 1.5em;
    height: 1.5em;
    width: 100%;
    border-bottom: 1px solid var(--main-white);
    float: none;
  }
}
/* end: media queries */

/*start: footer*/
footer {
  background-color: var(--main-green);
  color: var(--main-cream);
  font-weight: bold;
  padding: 0.25em;
}
/*end: footer*/
