/* start: color palette */
:root {
  --main-white: #f7f7f7;
  --main-black: #111111;
  --main-cream: #FEFEF6;
  --main-beige: #EAE1DF;
  --main-olive: #3C4323;
  --main-dkgreen: #494F2B;
  --main-rust: #5F3120;
}
/* end: color palette */

/* start: base */
* {
  margin: 0;
  padding: 0;
}
/* end: base */

/* start: global properties */
body {
  text-align: center;
  font-size: 100%;
}

h1,
h2,
h3 {
  font-family: 'Roboto Slab', serif;;
}

h1 {
  font-size: 4.5em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 1.875em;
}

p {
  font-size: 1.5em;
  font-family: 'Inter', sans-serif;;
}
/* end: global properties */

/* start: navbar */
nav {
  background-color: var(--main-dkgreen);
  position: fixed;
  width: 100%;
  top:0
}

nav ul {
  list-style: none;
  margin: auto;
  width: 800px;
  overflow: auto;
}

nav li {
  font-size: 1em;
  width: 200px;
  height: 40px;
  line-height: 40px;
  float: left;
}

nav a {
  font-family: 'Roboto Slab', sans-serif;
  text-decoration: none;
  color: var(--main-cream);
  display: block;
  transition: .2s background-color;
}

nav a:hover {
  background-color: var(--main-olive);
}

@media screen and (max-width: 800px) {
  nav ul {
    width: 100%;
  }
  nav li {
    line-height: 30px;
    height: 30px;
    width: 100%;
    border-bottom: 1px solid var(--main-white);
    float: none;
  }
}
/* end: navbar */

/* start: welcome */
.welcome-section {
  background: linear-gradient(135deg, var(--main-white), var(--main-beige));
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.welcome-section > p {
  color: var(--main-dkgreen);
  font-family: 'Roboto Slab', sans-serif;
}
/* end: welcome */

/* start: goals */
.goals-section {
  background-color: var(--main-olive);
  color: var(--main-cream);
  padding: 150px 3vw 15vh 3vw;
}
/* end: goals */

/* start: projects */
.projects-section {
  background-color: var(--main-rust);
  padding: 150px 3vw 15vh 3vw;
}

.projects-header {
  margin: 0 auto 5vh auto;
  color: var(--main-beige);
}

.project-tile {
  background-color: var(--main-white);
  color: black;
  max-width: 400px;
  margin: auto;
}

.project-tile > ul {
  list-style: none;
  text-align: left;
  padding: 1em;
  font-family: 'Inter', sans-serif;
}

.project-link {
  text-decoration: none;
  color: var(--main-rust);
}
/* end: projects */

/* start: contact section */
.contact-section {
  background-color: var(--main-beige);
  color: var(--main-rust);
  padding: 150px 0px;
}
.contact-links {
  font-size: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}
.contact-link {
  color: var(--main-black);
  text-decoration: none;
  padding-top: .5em;
  font-family: 'Roboto Slab', sans-serif;
}
/* end: contact section */

/*start: footer*/
footer {
  background-color: var(--main-dkgreen);
  color: var(--main-cream);
}
/*end: footer*/
